[*.cs]

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = true

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = true

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = true

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = true
